@font-face {
    font-family: Ubuntu;
    src: url('http://127.0.0.1:801/ubuntu.ttf');
}

@font-face {
    font-family: UbuntuItalics;
    src: url('../fonts/Ubuntu-i.ttf');
}

@font-face {
    font-family: UbuntuItalicsBold;
    src: url('../fonts/Ubuntu-ib.ttf');
}

@font-face {
    font-family: UbuntuBold;
    src: url('../fonts/Ubuntu-b.ttf');
}

@font-face {
    font-family: UbuntuMedium;
    src: url('../fonts/Ubuntu-m.ttf');
}
