<div id="nitro">
    <transition name="fade">
        <div class="loading-screen" v-if="!isReady || isError">
            <div class="loading-static" />
            <div class="loading-content d-flex flex-column justify-content-center">
                <div class="loading-cloud" />
                <div class="loading-cloud" />
                <div class="loading-cloud" />
                <div class="loading-cloud" />
                <div class="loading-cloud" />
                <div class="loading-cloud" />
                <img src="/assets/images/generic/logo.gif" class="d-block align-self-center" />
            </div>
            <div class="badge badge-primary"> {{message}}</div>
            <div class="loading-overlay" />
        </div>
    </transition>
    <Main v-if="isReady && !isError" />
</div>
